################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Adobe/Adobe/obj
/Arrays/.vs/Arrays
/Arrays/Arrays/obj
/Arrays/.vs/DataStructure
/Arrays/Arrays/bin/Debug/netcoreapp2.2
/Trees/Trees/obj
/.vs
/Algorithms/Sorting/obj
/DataStructure/Adobe/bin/Debug/netcoreapp3.1
/DataStructure/Adobe/obj
/DataStructure/Arrays/.idea
/DataStructure/Arrays/.vs/DataStructure
/DataStructure/Arrays/bin/Debug/netcoreapp2.2
/DataStructure/Arrays/obj
/DataStructure/Trees/bin/Debug/netcoreapp3.1
/DataStructure/Trees/obj/Debug/netcoreapp3.1
/DataStructure/Trees/obj
/Algorithms/Searching/Searching/bin/Debug/netcoreapp3.1
/Algorithms/Searching/Searching/obj
/Algorithms/Sorting/bin/Debug/netcoreapp3.1
