/Adobe/Adobe/obj/Debug/netcoreapp3.1/Adobe.csproj.CoreCompileInputs.cache
/Adobe/Adobe/obj/Debug/netcoreapp3.1/Adobe.csproj.FileListAbsolute.txt
/Adobe/Adobe/bin/Debug/netcoreapp3.1/Adobe.deps.json
/Adobe/Adobe/bin/Debug/netcoreapp3.1/Adobe.dll
/Adobe/Adobe/obj/Debug/netcoreapp3.1/Adobe.dll
/Adobe/Adobe/bin/Debug/netcoreapp3.1/Adobe.exe
/Adobe/Adobe/obj/Debug/netcoreapp3.1/Adobe.exe
/Adobe/Adobe/obj/Debug/netcoreapp3.1/Adobe.genruntimeconfig.cache
/Adobe/Adobe/bin/Debug/netcoreapp3.1/Adobe.pdb
/Adobe/Adobe/obj/Debug/netcoreapp3.1/Adobe.pdb
/Adobe/Adobe/bin/Debug/netcoreapp3.1/Adobe.runtimeconfig.dev.json
/Adobe/Adobe/bin/Debug/netcoreapp3.1/Adobe.runtimeconfig.json
/Arrays/.idea/.idea.Arrays/.idea/contentModel.xml
/Arrays/.idea/.idea.Arrays/.idea/indexLayout.xml
/Arrays/.idea/.idea.Arrays/.idea/modules.xml
/Arrays/.idea/.idea.Arrays/.idea/projectSettingsUpdater.xml
/Arrays/.idea/.idea.Arrays/riderModule.iml
/Arrays/.idea/.idea.Arrays/.idea/vcs.xml
/Adobe/Adobe/obj/**
/Adobe/Adobe/bin/**
/Arrays/.vs/Arrays
/Arrays/Arrays/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
/Arrays/Arrays/obj/Debug/netcoreapp2.2/Arrays.csprojAssemblyReference.cache
/Arrays/Arrays/bin/Debug/netcoreapp2.2
/Arrays/Arrays/bin/Debug/**
